<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="HTML, CSS, JavaScript" charset=UTF-8>
  <link rel="stylesheet" type="text/css" href="/modules/unplatform/activity.css">
  <link rel="stylesheet" type="text/css" href="/modules/unplatform/header.css">
  <link rel="stylesheet" type="text/css" href="/modules/unplatform/nav.css">

  <script src="/modules/unplatform/jquery-3.1.0.min.js"></script>
  <script src="/modules/unplatform/ui-features.js"></script>
  <script src="/modules/unplatform/unplatform.js"></script>
  <script src="/modules/unplatform/content_player.js"></script>

  <script>
    var toggleFinished = function(state) {
    document.getElementsByClassName('container-popup')[0].style.display = state;
    document.getElementsByClassName('zoomModal')[0].style.display = state;
  }
  </script>

  </head>
<header>
  <h1 class="logo">CLIx Connected Learning Initiative</h1>
  <p class="unplat-v">unplatform version {{ version }}</p>
  <nav>
    <button onclick="window.location.href='/{{ subject }}/{{ grade }}/{{ unit }}/'">choose new lesson</button>
  <button onclick="toggleFinished('block')">finish lesson</button>
  </nav>
</header>
<body>
<iframe src="/modules/epubs/index.html?epubUrl=/modules/{{ subject }}/{{ grade }}/{{ unit }}/{{ contentName }}" class="fill-win" frameBorder="0"></iframe>

<div class="container-popup" style="display:none">
  <dialog class="zoomModal span_6_of_12">
    <h2 class="zoom-label">Do you want to end this session?</h2>
   <form method="dialog">
      <button value="close" onclick="finished('yes')">Yes</button>
      <button value="close" onclick="toggleFinished('none'); finished('no');">No</button>
    </form>
  </dialog>
</div>


</body>
