<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/modules/unplatform/user-survey.css">
    <script src="/modules/unplatform/jquery-3.1.0.min.js"></script>
    <script src="/modules/unplatform/ui-features.js"></script>
    <script src="/modules/unplatform/unplatform.js"></script>
    <script type="text/javascript">
      var lesonClickThru = function(lesonBtn_info) {
        window.location.href=lesonBtn_info + "/?contentName=" + lesonBtn_info;
      }

      var toolClickThru = function(toolBtn_info) {
        window.location.href=toolBtn_info;
      }

    </script>
  </head>

  <body>
    <img src="/modules/unplatform/images/clix-i2c-flowers4.svg" alt="" class="bg-img">
    <header id="header" class="">
        <nav>
            <ul class="breadcrumbs">
                <li><a href="/">Select User</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
                <li><a href="/subject">Select Subject</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
                <li onclick="window.history.go(-2);"><a href="#">Select Grade</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
                <li onclick="window.history.go(-1);"><a href="#">Select Unit</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
            </ul>
        </nav>
    </header>

      <main class="span_10_of_12">
        <h1 class="pg-title">User Survey</h1>
        <h2 class="pg-subtitle">Select your Lesson</h2>
          <article class="subj-select">

          <button type="button" class="lesn-but" onclick="toolClickThru('Tools')">Tools</button>
          {% for x in lessons %}
            {% if x == "Tools" %}
            {% else %}
              <button type="button" class="lesn-but" onclick="lesonClickThru('{{ x }}')">{{ x }}</button>
            {% endif %}
          {% endfor %}
          </article>
      </main>
    </body>
</html>




