<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="HTML, CSS, JavaScript" charset=UTF-8>

	<script src="/modules/unplatform/unplatform.js"></script>
	<script type="text/javascript">
	var current_terminal
	var current_school	
	var current_state
	var current_district	
	var populate = function(){
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/api/configuration/?format=json', false);		
		xhr.send()
		var response = JSON.parse(xhr.response)
		if (response.length == 0) { 
			current_school = 'NOTSET'
			current_terminal = 'NOTSET'
			current_state = 'NOTSET'
			current_district = 'NOTSET'
		} else {
			current_state = response[0]['state']
			current_district = response[0]['district']
			current_school = response[0]['school_id']
			current_terminal = response[0]['terminal_id']
		}

		var current_location = document.getElementById('current_location')
		current_location.textContent = current_state + " / " + current_district
		var current_setting = document.getElementById('current_setting')
		current_setting.textContent =  current_school + " / " + current_terminal

		var school = document.getElementById('school')
		school.value = current_school
		var terminal = document.getElementById('terminal')
		terminal.value = current_terminal

	    var state_districts = {
	    	"Chhattisgarh":["Dhamteri","Bilaspur"], 
	    	"Mizoram":["Aizawl"],
	    	"Rajasthan":["Baran", "Jaipur", "Jhalawar", "Sirohi"],
	    	"Telangana":["Karimnagar","Warangal","RangaReddy"] 
	    };

	    var state = document.getElementById('state');
	    var district = document.getElementById('district');

	    state.onchange = function(){
	        district.length = 0;

	        var selection = this.options[this.selectedIndex].value;
	        document.getElementById('state_input').value = selection;
	        document.getElementById('district').disabled = false;
	        console.log(selection)
	        var prompt = document.createElement('option');
	        prompt.value = "Please select a district"
	        prompt.text = "Please select a district"
	        prompt.disabled = true;
	        prompt.selected = true;
	        district.appendChild(prompt);
			document.getElementById('district_input').value = "NOTSET"

	        for ( var i in state_districts[selection]){
	            var option = document.createElement('option');
	            option.value = state_districts[selection][i];
	            option.text = state_districts[selection][i];
	            district.appendChild(option);
	        }
	    };

	    district.onchange = function() {
	    	var selection = this.options[this.selectedIndex].value;
	        document.getElementById('district_input').value = selection;
	        console.log(selection)
	    }
	};
	window.onload=populate
	</script>

    </head>

    <body>
        <header>
			CLIx
        </header>


    <select id='state' name='state' >
	    <option value="" disabled="disabled" selected="selected">Please select a state</option>
	    <option value="Chhattisgarh">Chhattisgarh</option>
	    <option value="Mizoram">Mizoram</option>
	    <option value="Rajasthan">Rajasthan</option>
	    <option value="Telangana">Telangana</option>
	</select>

	<select id='district' name='district' disabled>
	    <option value="" disabled="disabled" selected="selected">Please select a district</option>
	</select>



	<form action="/api/configuration/" method="POST" onsubmit="setTimeout(function () { location.reload();}, 50)">
	    <label for="school">School ID: </label>
	    <br>
	    <input id="school" type="text" name="school_id" >
	    <br>
	    <label for="terminal">Terminal ID (optional): </label>
	    <br>
	    <input id="terminal" type="text" name="terminal_id">
	    <input id="state_input" type="text" name="state" style='display:none'>
	    <input id="district_input" type="text" name="district" style='display:none'>
	    <input type="submit" value="OK">
	</form>
	<br>
	<strong>Current State / District: </strong><span id=current_location></span>
	<br>
	<strong>Current School / Terminal: </strong><span id=current_setting></span>	
    </body>
</html>