<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="./modules/unplatform/user-survey.css">
    <script src="/modules/unplatform/jquery-3.1.0.min.js"></script>
    <script src="/modules/unplatform/ui-features.js"></script>
    <script src="/modules/unplatform/unplatform.js"></script>
    <script type="text/javascript">
      var report = new Report()
      var user_info = {};
      function getLanguages() {
        var languages = [];
        if (navigator.languages == null ) {
          return navigator.language
        };
        for (x in navigator.languages) { languages.push(navigator.languages[x]) }
        return languages.join(',')
      }
      var fingerprint = {
        user_agent : navigator.userAgent,
            screen_size : (screen.width + 'x' + screen.height),
            browser_url : window.location.href,
        languages : getLanguages()
      };
      report.submitData('/api/fingerprints/', fingerprint)

      var teacher = function() {
        user_info['user_type'] = 'teacher';
        user_info['user_count'] = null;
        toggle_count('inline')
      }
      var student = function(){
        user_info['user_type'] = 'student';
        toggle_count('inline');
      }

      var toggle_count = function(property) {
        var buttons = document.getElementsByClassName("count")
        document.getElementById('next').style.display='none';
        for (var i=0;i<buttons.length;i++) {
          buttons[i].style.display=property;
        };
      }

      var count = function(count) {
        user_info['user_count'] = count;
        document.getElementById('next').style.display='block';
      }

      var visitor = function() {
        user_info['user_type'] = 'visitor';
        user_info['user_count'] = null;
        toggle_count('inline')
      }

      var demo = function() {
        user_info['user_type'] = 'demo';
        user_info['user_count'] = null;
        toggle_count('none')
        document.getElementById('next').style.display='block';
      }

      var next = function(user_info) {
        report.submitData('/api/users/', user_info)
        window.location.href='/subject/'
      }

    </script>


  </head>

 <body>
     <img src="./modules/unplatform/images/clix-i2c-flowers4.svg" alt="" class="bg-img">
     <main class="span_10_of_12">
      <h1 class="pg-title">User Survey</h1>
      <h2 class="pg-subtitle">Before you begin, please tell us about yourself</h2>


        <article class="but-select">
          <button type="button" class="user-select" onclick="teacher()">Teacher</button>
          <button type="button" class="user-select" onclick="student()">Student</button>
          <button type="button" class="user-select" onclick="visitor()">Visitor/Other</button>
          <button type="button" class="user-select" onclick="demo()">Class Demonstration</button>
        </article>

        <h3 class="count users-count" style="display: none">How many users at this computer?</h3>
        <article class="count-select">
          <button type="button" class="count count-num" style="display: none" onclick="count('1')">1</button>
          <button type="button" class="count count-num" style="display: none" onclick="count('2')"> 2 </button>
          <button type="button" class="count count-num" style="display: none" onclick="count('3')"> 3 </button>
          <button type="button" class="count count-num" style="display: none" onclick="count('3+')"> 3+ </button>
        </article>

        <button class="hi-but" type="button" id="next" style="display: none" onclick="next(user_info)">Select Subject&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></button>

    </main>
  </body>
</html>
