<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="HTML, CSS, JavaScript" charset=UTF-8>
  <script src="/modules/unplatform/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/modules/unplatform/html5reset_css.css">
  <link rel="stylesheet" type="text/css" href="/modules/unplatform/header.css">
  <link rel="stylesheet" type="text/css" href="/modules/unplatform/nav.css">
  <link rel="stylesheet" type="text/css" href="/modules/unplatform/user-survey.css">
    <script src="/modules/unplatform/jquery-3.1.0.min.js"></script>
    <script src="/modules/unplatform/ui-features.js"></script>
  <script src="/modules/unplatform/nav.js"></script>
  <script src="/modules/unplatform/unplatform.js"></script>
  </head>

  <body>
<!--     <header>
      <h1 class="logo">CLIx Connected Learning Initiative</h1>
      <p class="unplat-v">unplatform version 0.0</p>
      <nav>
        <button onclick="window.location.href='/{{ subject }}/{{ grade }}/{{ unit }}/'">choose new lesson</button>
      <button onclick=toggleFinished('block')>finish lesson</button>
      </nav>
    </header>

    <main>

      <section class="toc">
        <input type="checkbox" id="toggler"/>
        <label for="toggler" class="toggle-me">activity list</label>
        <nav>
          <small class="nav-labels">grade - unit</small>
          <h1 class="nav-title">lesson subject</h1>
          <ul id="menu">
          {% for x in activities %}
          <a href="/modules/{{ subject }}/{{ grade }}/{{ unit }}/{{ lesson }}/{{ x }}/index.html" target="frame" style="font-size:16pt">
          {{ x }}
          </a>
          <br>
          {% endfor %}
          </ul>
        </nav>
      </section>

      <section class="content">
        <iframe name="frame" class="fill-win" frameBorder="0"></iframe>
      </section>

    </main> -->

    <img src="/modules/unplatform/images/clix-i2c-flowers4.svg" alt="" class="bg-img">
      <header id="header" class="">
          <nav>
              <ul class="breadcrumbs">
                  <li><a href="/">Select User</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
                  <li><a href="/subject">Select Subject</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
                  <li onclick="window.history.go(-3);"><a href="#">Select Grade</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
                  <li onclick="window.history.go(-2);"><a href="#">Select Unit</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
                  <li onclick="window.history.go(-1);"><a href="#">Select Lesson</a>&nbsp;&nbsp;<i class="fa fa-chevron-right pink-chev" aria-hidden="true"></i></li>
              </ul>
          </nav>
      </header>

      <main class="span_10_of_12">
        <h1 class="pg-title">User Survey</h1>
        <h2 class="pg-subtitle">Select Tool</h2>
        <article class="subj-select">
        {% for x in activities %}
          <button type="button" class="choice-select" onclick="clickThru('{{ x }}/')">{{ x }}</button>
        {% endfor %}
        </article>
      </main>
</body>
</html>
